body {
    padding: 20px;
}

header {
    border: 1px solid black;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

nav ul li {
    list-style: none;
    font-size: 18px;
    color: blue;
}

a {
    text-decoration: none;
}